html{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#aad4cf;
}

.wrapper{
    width: 1024px;
    margin: auto;
    margin-top: 0px;

    background-color: #d4e9e7;
}
/* CSS for header, background image is wide starfish image. Aligns text to center*/
.title_box{
    margin-top: 0px;
    width: 1024px;
    height: 341px;
    font-size: 1.5rem;
   color: white;

}
/*text padding for sub headers*/
h2{
    padding:10px;
}

/*Adjusts position of title text within header, uses class for specificity, in case the website has other pages, does not override position of their text.*/
.header_title{
    font-weight: normal;
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navlist{
    font-size: 1.25em;
    font-weight: 700;
}
/*removes styling from navigation*/
nav ul{
    list-style: none;
}
/*Sets up float for navigation*/
nav li{
    float: left;
    padding: 0px;
    
    
}
/*Adds spacing to navigation text*/
nav a{
    color: black;
    display: block;
    text-decoration: none;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 10px;
    padding-bottom: 10px;   

}
/*hover state for navigation links, not required but adds visual clarity*/
nav a:hover{
    color:  slategray;
    background-color: darkslategray;
}
/*Sets border for navigation list*/
nav li:nth-child(2){
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-color: black;
}
.navigation{
    width: 1024px;
    text-align: center;

}
section div h1{
    padding-left: 15px;
}
/*Modifies font for the main text area under "Life of a starfish"*/
.main_content{
    font-size: 1.025rem;
    margin: 10px;
}
/*Sets text wrapping for smaller image in main content*/
.image_left{
    float: left;
    max-width: 20%;
    max-height: 20%;
    padding-left: 05px;
    padding-right: 20px;
    padding-bottom: 10px;

}
/*Clearfix code for float declarations*/
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}
/*Sets margins to the contact section*/
.contact_area{
    margin: 10px;
}

/* sets border and other visual formatting for the box around contact form*/
.contact_box{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 25px;
    font-size: 1.25rem;
}
/*sets size of smaller textboxes*/
.textbox_small{
    width: 955px;
    height: 25px;
}
/*sets size of larger textbox*/
.textbox_large{
    width: 955px;
    height: 90px;
    vertical-align: top;
}
/*visual formatting for button*/
button{
    padding:15px;   
}
/*font formatting for footer text*/
.footer_area{
    text-align: right;
    padding: 20px;
}
