/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Main CSS begins below*/
html{
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}

h1{
    font-size: 60px;
    font-weight: bold;
}
h2{
    font-size: 45px;
    font-weight: bold;
}
h3{
    font-size: 25px;
    font-weight: bold;
}
.wrapper{
    max-width: 1200px;
    height: auto;
    margin: auto;
}

.navigation{
    display:grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
}
.nav-image{
    background-color: #c78c06;
    padding: 0px;
    
}
nav a{
    text-decoration: none;
    color: #c78c06;
    text-align: center;
}
nav ul li{
    padding: 25px;
}
.nav-text{
    background-color: #222;
    text-align: center;
    
}

nav ul li:nth-child(1){
    background-color: #c78c06;
}
.nav-home{
    color: #222;
}

nav form button{
    color: #c78c06;
    background-color: #222;
    border-style: solid;
    border-color: #c78c06;
    height: 30px;
    margin-bottom: 10px;
}
.nav-search input{
    height: 25px;
    width: 85%;
}



.title-text{
    background: rgba(34, 34, 34, 0.75);
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 300px;
    padding: 50px;
    margin: 25px;
}
.title-text p{
    margin: 25px;
    margin-left: 0;
}

.title-text button{
    color:#222;
    background-color: #c78c06;
    border-style: none;
    height: 75px;
    width: 250px;
    font-size: 20px;
}

.about-content{
    background-color: #ffe6ac;
    padding: 10px;
}
.about-text{
    margin-bottom: 20px;
    margin-top: 20px;
}
.about-text h2{
    margin-bottom: 20px;
}
.about-text p{
    margin-bottom: 10px;
}
.services-title{
    margin: 10px;
    margin-top: 35px;
}
/*Services section for digital transformation, sets the background and proper margins to display all the content, as well as button appearancce*/
.services-digital{
    background-color: #ffe6ac;
    margin: 10px;
}
.services-digital img{
    width: 100%;
}
.services-digital h3{
    margin: 10px;
    margin-top: 20px;
}
.services-digital p{
    margin: 10px;
    margin-top: 20px;

}
.services-digital button{
    margin: 10px;
    width: 175px;
    height: 75px;
    background-color: #222;
    color: white;
    border-style: none;
    font-size: 1.25rem;
}
/*Services section for marketing, matches the above. the rest of the sections until vision are also identical.*/
.services-marketing{
    background-color: #ffe6ac;
    margin: 10px;
}
.services-marketing img{
    width: 100%;
}
.services-marketing h3{
    margin: 10px;
    margin-top: 20px;
}
.services-marketing p{
    margin: 10px;
    margin-top: 20px;

}
.services-marketing button{
    margin: 10px;
    width: 175px;
    height: 75px;
    background-color: #222;
    color: white;
    border-style: none;
    font-size: 1.25rem;
}

.services-video{
    background-color: #ffe6ac;
    margin: 10px;
}
.services-video img{
    width: 100%;
}
.services-video h3{
    margin: 10px;
    margin-top: 20px;
}
.services-video p{
    margin: 10px;
    margin-top: 20px;

}
.services-video button{
    margin: 10px;
    width: 175px;
    height: 75px;
    background-color: #222;
    color: white;
    border-style: none;
    font-size: 1.25rem;
}

.services-web{
    background-color: #ffe6ac;
    margin: 10px;
}
.services-web img{
    width: 100%;
}
.services-web h3{
    margin: 10px;
    margin-top: 20px;
}
.services-web p{
    margin: 10px;
    margin-top: 20px;

}
.services-web button{
    margin: 10px;
    width: 175px;
    height: 75px;
    background-color: #222;
    color: white;
    border-style: none;
    font-size: 1.25rem;
}
.services-print{
    background-color: #ffe6ac;
    margin: 10px;
}
.services-print img{
    width: 100%;
}
.services-print h3{
    margin: 10px;
    margin-top: 20px;
}
.services-print p{
    margin: 10px;
    margin-top: 20px;

}
.services-print button{
    margin: 10px;
    width: 175px;
    height: 75px;
    background-color: #222;
    color: white;
    border-style: none;
    font-size: 1.25rem;
}



/*Our team section, setup is the same as services, so can be reused here with some minor edits to make up for different headings*/
.team-title{
    margin: 10px;
    margin-top: 35px;
}

.team-section{
    background-color: #ffe6ac;
    margin: 10px;
}
.team-section img{
    width: 100%;
}
.team-section h3{
    margin: 15px;
    margin-top: 20px;
}
.team-section h4{
    font-weight: bold;
    margin: 15px;
}
.team-section p{
    margin: 15px;
    margin-top: 20px;
    padding-bottom: 10px;

}
.team-section hr{
    border-top: 3px solid #c78c06;
    margin: 15px;
}

@media screen and (min-width:760px){
     
}
